@charset "UTF-8";
body {
  background-color:#f7fbfe;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

#main {
  font-size: 15px; 
  padding: 20px 50px;
  padding-left: 5%;
  padding-right: 5%;
  color:#001158;
  position: relative;
}

#header{
  /* background: url("Line.png") no-repeat 0px -250px; */
  background-image: url("header_background.png");
  background-repeat: repeat-x;
  background-size: auto 100px;
  min-height: 110px;
  width: 100%;
  position:relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: auto;
  max-height: auto;
  margin: auto;
}

#headercontent{
  position: relative;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

#headerlogo img{
  width: 120px;
}

#headerlogo{
  float: left;
}

#headersub{
  position: relative;
  float: left;
}

#headersub h1{
  font-size: calc(1.275rem + .3vw);
  margin: 10px 0 0 0;
  padding: 0;
}

#headersub p{
  margin: 0;
  padding: 0;
  font-size: .875em;
  color: #6c757d!important;
}

#navmenu{
  position: absolute;
  right: 10px;
  bottom: 50px;
  cursor: pointer;
  font-size: 15px;
}

#navmenu a{
  color: #001158;
  margin-right: 0px;
  padding-right: 10px;
  text-decoration: none;
}

#navmenu a{
  position: relative;
  font-weight: 500;
  padding: 20px;
}

#navmenu a:after,
#navmenu a:before {
  transition: all .6s;
}

#navmenu a:hover{
  color: #1e3699;
}

#navmenu a:focus {
  color: #5cb1eb;
}

#navmenu a:after {
  position: absolute;
  left: -5px;
  right: 0;
  bottom: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #1e3699;
  height: 1px;
  margin: auto;
}
#navmenu a:hover:after {
  width: 100%;
}

#lang_select_parent{
  position: absolute;
  right: 0;
  top: 20px;
}

#lang_select_parent img{
  width: 30px;
}


#icon {
  display: none;
  position: absolute;
  right: 50px;
  top: 40px;
}


.custom_select{
  margin: 4px;

  border-radius: 5px;
}

#select_variable{
  width: 30%;
}

#select_region{
  width: 15%;
}

#select_neighbourhoods{
  width: 55%;
  float: right;
}

.clear_me{
  text-align: center;
  width: 100%;
}

.box button{
  background-color: transparent;
  height: 40px;
  min-width: 100px;
  border-radius: 30px;
  font-family: inherit;
  font-size: 15px;
  color: inherit;
  padding: 0 20px 0 20px 0;
  border: 1px solid rgba(0, 60, 125, 0.2);
}


#select_container > div{
  display: inline-block;
}

@media only screen and (max-width: 1000px) {
  #headersub{
    display: none;
  }

  #headercontent{
    display: flex;
    flex-direction: column;
  }  

  #navmenu{
    position: initial;
    margin-top: 6px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius:  0 0 20px 20px;
  }
  
  #navmenu a{
    max-width: 100%;
    display: block;
    margin: 0 0 0 10px;
    padding: 0;
  }

  #navmenu a:hover:after {
    width: 0;
  }
  
  #navmenu a:after,
  #navmenu a:before {
    transition: none;
  }

  #headerlogo img{
    width: 90px;
  }
}

#footer {
  position: relative;
  max-width: 100%;
  margin-top: 50px 0 0 0;
  padding: 0;
  /* background: url("Line-invert.png") no-repeat 0px -250px; */
  background-color: #aed8f5;
  color: #001158;
  font-size: 14px;
  font-family: inherit;
  overflow: hidden;
  clear: both;
}

#footercontent{
  margin: 0 auto;
  padding: 0;
  max-width: 90%;
}

#footer ul{
  list-style-type: none;
  line-height: 200%;
}

#footer a{
  color: #001158;
  text-decoration: none;
}

#footer img{
  display: inline-block;
  margin-top: 10px;
  width: auto;
  height: 50px;
  margin: 0 5px 0 5px;
}


#footer h1{
  color: #4766e2;
  font-size: 20px;
  font-family: inherit;
  margin: 10px 0 20px 0;
  padding: 0;
}

.footerelement{
  width: 33%;
  float: left;
  margin: 10px 0 20px 0;
}

#partners{
  text-align: center;
}

h1 {
  color:#001158;
}

.text{
  margin: 10px;
  padding: 25px;
  align-self: center;
}

.row{
  display: flex;
}

#sliderContainer{
  margin: 0 5% 0 5%;
  padding: 1%;
  width: 90%;
}

#slider_select_year{
  width: auto;
  display: block;
}

#drop_municipality_spec_id{
  margin: 4px;
  box-shadow: 0px 0px #ebb36a;
  border-color: #ebb36a;
}

.Select-arrow-zone{
  display: block;
}

#graphContainer H1{
  font-family: inherit;  
  font-size: medium;
  color: inherit;
  font-weight: 400;
  font-size: 20px;
}

#graphContainer p{
  font-family: inherit;  
  font-size: 18px;
  color: #000000;
  margin: 0 0 0 10px;
}

#leftcell{
  width: 65%;
  float: left;
  box-sizing: border-box;
}

#rightcell{
  width: 35%;
  display: inline-block;
}

#drop_select_year{
  display: none;
}

@media only screen and (max-width: 1020px) {
  #leftcell{
    width: 100%;
  }

  #rightcell{
    width: 100%;
  }

  #select_variable{
    width: 50%;
  }

  #select_region{
    width: 50%;
  }

  #select_neighbourhoods{
    width: 100%;
  }

  #drop_select_year{
    display: block;
  }

  #slider_select_year{
    display: none;
  }

  #bar_fig{
    min-height: 200px;
    max-height: 1000px;
    overflow-y: auto;
  }
  

}

#line_menu{
  overflow: hidden;
}

.line_menu_hidden{
  display: none;
}

.line_menu_visible{
  display: block;
}

.legendcolor{
  width: 20px;
  height: 20px;
  display: inline-block;
}

.legenditem{
  width: 33%;
  display: inline-block;
}


@media only screen and (max-width: 1000px) {
  #drop_municipality_spec_id{
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1240px) {
  .footerelement{
    width: 50%;
  }

  #partners{
    width: 100%;
  }
}
/* Graph style */

#map{
  height: 466px;
}

#wijk_trend_fig{
  height: 400px;
}

#bar_fig{
  min-height: 200px;
}

#line_menu{
  overflow-y: scroll;
  max-height: 400px;
}

#line_menu > label{
  margin: 0 2px 0 2px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 85px;
}


/* Boxes */

.box {
  border-radius: 10px;
  background-color: white;
  margin: 5px 5px 25px 5px;
  padding: 20px;
  /* box-shadow: 2px 2px 2px #aed8f5; */
}

.drop_var_id {
  margin: 4px;
  box-shadow: 0px 0px #ebb36a;
  border-color: #ebb36a;
}

/* Scrollbars */
*::-webkit-scrollbar {
  width: 12px;               
}
*::-webkit-scrollbar-track {
  background: #F9F9F8;        
}
*::-webkit-scrollbar-thumb {
  background-color:#ffd100;    
  border-radius: 20px;      
  border: 3px solid #F9F9F8;  
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  /* .topnav a:not(:first-child) {display: none;} */
  #icon {
    display: block;
  }

  .nav_open{
    display: block;
  }
  
  .nav_closed{
    display: none;
  }

  #menu_button{
    background-color: transparent;
    background: url("bars-solid.svg") no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    background-size: 25px 25px;
    height: 60px;
    min-width: 100px;
    padding: 10px 20px 10px 45px;
    border-radius: 30px;
    font-family: inherit;
    font-size: 15px;
    color: inherit;
    margin-top: -10px;
    border: 1px solid rgba(0, 60, 125, 0.2);
  }
}

/* ACCORDION SHIT */

.accordeon_open{
  padding-top: 20px;
  display: block;
}

.accordeon_collapsed{
  display: none;
}

#accordionbutton, #accordionbutton_sd{
  width: 100%;
  text-align: left;
  border-radius: 10px 10px 0 0;
  background: #5cb1eb;
  color: #FFF;
}

.accordionbutton_open::before{
  content: url("arrow-icon.svg");
  width: 20px;
  position: relative;
  margin-right: 10px;
  float: right;
  transition: all 0.5s;
}

.accordionbutton_closed::before{
  float: right;
  width: 20px;
  content: url("arrow-icon.svg");
  transform: rotate(180deg);
  margin-right: 10px;
  transition: all 0.5s;
}
