@charset "UTF-8";
body {
  background-color:#f7fbfe;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

#main {
  font-size: 15px; 
  padding: 20px 50px;
  padding-left: 5%;
  padding-right: 5%;
  color:#001158;
  position: relative;
}

#header{
  /* background: url("Line.png") no-repeat 0px -250px; */
  background-image: url("header_background.png");
  background-repeat: repeat-x;
  background-size: auto 100px;
  min-height: 110px;
  width: 100%;
  position:relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: auto;
  max-height: auto;
  margin: auto;
}

#headercontent{
  position: relative;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

#headerlogo img{
  width: 120px;
}

#headerlogo{
  float: left;
}

#headersub{
  position: relative;
  float: left;
}

#headersub h1{
  font-size: calc(1.275rem + .3vw);
  margin: 10px 0 0 0;
  padding: 0;
}

#headersub p{
  margin: 0;
  padding: 0;
  font-size: .875em;
  color: #6c757d!important;
}

#navmenu{
  position: absolute;
  right: 10px;
  bottom: 50px;
  cursor: pointer;
  font-size: 15px;
}

#navmenu a{
  color: #001158;
  margin-right: 0px;
  padding-right: 10px;
  text-decoration: none;
}

#navmenu a{
  position: relative;
  font-weight: 500;
  padding: 20px;
}

#navmenu a:after,
#navmenu a:before {
  transition: all .6s;
}

#navmenu a:hover{
  color: #1e3699;
}

#navmenu a:focus {
  color: #5cb1eb;
}

#navmenu a:after {
  position: absolute;
  left: -5px;
  right: 0;
  bottom: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: #1e3699;
  height: 1px;
  margin: auto;
}
#navmenu a:hover:after {
  width: 100%;
}

#lang_select_parent{
  position: absolute;
  right: 0;
  top: 20px;
}

#lang_select_parent img{
  width: 30px;
}


#icon {
  display: none;
  position: absolute;
  right: 50px;
  top: 40px;
}


.custom_select{
  margin: 4px;

  border-radius: 5px;
}

#select_variable{
  width: 30%;
}

#select_region{
  width: 15%;
}

#select_neighbourhoods{
  width: 55%;
  float: right;
}

.clear_me{
  text-align: center;
  width: 100%;
}

.box button{
  background-color: transparent;
  height: 40px;
  min-width: 100px;
  border-radius: 30px;
  font-family: inherit;
  font-size: 15px;
  color: inherit;
  padding: 0 20px 0 20px 0;
  border: 1px solid rgba(0, 60, 125, 0.2);
}


#select_container > div{
  display: inline-block;
}

@media only screen and (max-width: 1000px) {
  #headersub{
    display: none;
  }

  #headercontent{
    display: flex;
    flex-direction: column;
  }  

  #navmenu{
    position: initial;
    margin-top: 6px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius:  0 0 20px 20px;
  }
  
  #navmenu a{
    max-width: 100%;
    display: block;
    margin: 0 0 0 10px;
    padding: 0;
  }

  #navmenu a:hover:after {
    width: 0;
  }
  
  #navmenu a:after,
  #navmenu a:before {
    transition: none;
  }

  #headerlogo img{
    width: 90px;
  }
}

#footer {
  position: relative;
  max-width: 100%;
  margin-top: 50px 0 0 0;
  padding: 0;
  /* background: url("Line-invert.png") no-repeat 0px -250px; */
  background-color: #aed8f5;
  color: #001158;
  font-size: 14px;
  font-family: inherit;
  overflow: hidden;
}

#footercontent{
  margin: 0 auto;
  padding: 0;
  max-width: 90%;
}

#footer ul{
  list-style-type: none;
  line-height: 200%;
}

#footer a{
  color: #001158;
  text-decoration: none;
}

#footer img{
  display: inline-block;
  margin-top: 10px;
  width: auto;
  height: 50px;
  margin: 0 5px 0 5px;
}


#footer h1{
  color: #4766e2;
  font-size: 20px;
  font-family: inherit;
  margin: 10px 0 20px 0;
  padding: 0;
}

.footerelement{
  width: 33%;
  float: left;
  margin: 10px 0 20px 0;
}

#partners{
  text-align: center;
}

h1 {
  color:#001158;
}

.text{
  margin: 10px;
  padding: 25px;
  align-self: center;
}

.row{
  display: flex;
}

#sliderContainer{
  margin: 0 5% 0 5%;
  padding: 1%;
  width: 90%;
}

#slider_select_year{
  width: auto;
  display: block;
}

#drop_municipality_spec_id{
  margin: 4px;
  box-shadow: 0px 0px #ebb36a;
  border-color: #ebb36a;
}

.Select-arrow-zone{
  display: block;
}

#graphContainer H1{
  font-family: inherit;  
  font-size: medium;
  color: inherit;
  font-weight: 400;
  font-size: 20px;
}

#graphContainer p{
  font-family: inherit;  
  font-size: 18px;
  color: #000000;
  margin: 0 0 0 10px;
}

#leftcell{
  width: 65%;
  float: left;
  box-sizing: border-box;
}

#rightcell{
  width: 35%;
  display: inline-block;
}

#drop_select_year{
  display: none;
}

@media only screen and (max-width: 1020px) {
  #leftcell{
    width: 100%;
  }

  #rightcell{
    width: 100%;
  }

  #select_variable{
    width: 50%;
  }

  #select_region{
    width: 50%;
  }

  #select_neighbourhoods{
    width: 100%;
  }

  #drop_select_year{
    display: block;
  }

  #slider_select_year{
    display: none;
  }

  #bar_fig{
    min-height: 200px;
    max-height: 1000px;
    overflow-y: auto;
  }
  

}

#line_menu{
  overflow: hidden;
}

.line_menu_hidden{
  display: none;
}

.line_menu_visible{
  display: block;
}

.legendcolor{
  width: 20px;
  height: 20px;
  display: inline-block;
}

.legenditem{
  width: 33%;
  display: inline-block;
}


@media only screen and (max-width: 1000px) {
  #drop_municipality_spec_id{
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1240px) {
  .footerelement{
    width: 50%;
  }

  #partners{
    width: 100%;
  }
}
/* Graph style */

#map{
  height: 466px;
}

#wijk_trend_fig{
  height: 400px;
}

#bar_fig{
  min-height: 200px;
}

#line_menu{
  overflow-y: scroll;
  max-height: 400px;
}

#line_menu > label{
  margin: 0 2px 0 2px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 85px;
}


/* Boxes */

.box {
  border-radius: 10px;
  background-color: white;
  margin: 5px 5px 25px 5px;
  padding: 20px;
  /* box-shadow: 2px 2px 2px #aed8f5; */
}

.drop_var_id {
  margin: 4px;
  box-shadow: 0px 0px #ebb36a;
  border-color: #ebb36a;
}

/* Scrollbars */
*::-webkit-scrollbar {
  width: 12px;               
}
*::-webkit-scrollbar-track {
  background: #F9F9F8;        
}
*::-webkit-scrollbar-thumb {
  background-color:#ffd100;    
  border-radius: 20px;      
  border: 3px solid #F9F9F8;  
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  /* .topnav a:not(:first-child) {display: none;} */
  #icon {
    display: block;
  }

  .nav_open{
    display: block;
  }
  
  .nav_closed{
    display: none;
  }

  #menu_button{
    background-color: transparent;
    background: url("bars-solid.svg") no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    background-size: 25px 25px;
    height: 60px;
    min-width: 100px;
    padding: 10px 20px 10px 45px;
    border-radius: 30px;
    font-family: inherit;
    font-size: 15px;
    color: inherit;
    margin-top: -10px;
    border: 1px solid rgba(0, 60, 125, 0.2);
  }
}

/* ACCORDION SHIT */

.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}
.nav-link{display:block;padding:.5rem 1rem;color:#0d6efd;text-decoration:none;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out}
@media (prefers-reduced-motion:reduce){.nav-link{transition:none}}
.nav-link:focus,.nav-link:hover{color:#0a58ca}
.nav-link.disabled{color:#6c757d;pointer-events:none;cursor:default}
.nav-tabs{border-bottom:1px solid #dee2e6}
.nav-tabs .nav-link{margin-bottom:-1px;background:0 0;border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:#e9ecef #e9ecef #dee2e6;isolation:isolate}
.nav-tabs .nav-link.disabled{color:#6c757d;background-color:transparent;border-color:transparent}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff}
.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
.nav-pills .nav-link{background:0 0;border:0;border-radius:.25rem}.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:#0d6efd}
.nav-fill .nav-item,.nav-fill>.nav-link{flex:1 1 auto;text-align:center}.nav-justified .nav-item,.nav-justified>.nav-link{flex-basis:0;flex-grow:1;text-align:center}
.nav-fill .nav-item .nav-link,.nav-justified .nav-item .nav-link{width:100%}.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding-top:.5rem;padding-bottom:.5rem}
.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl{display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between}
.navbar-brand{padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;text-decoration:none;white-space:nowrap}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-nav .dropdown-menu{position:static}
.navbar-text{padding-top:.5rem;padding-bottom:.5rem}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;transition:box-shadow .15s ease-in-out}
@media (prefers-reduced-motion:reduce){.navbar-toggler{transition:none}}
.navbar-toggler:hover{text-decoration:none}.navbar-toggler:focus{text-decoration:none;outline:0;box-shadow:0 0 0 .25rem}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;background-repeat:no-repeat;background-position:center;background-size:100%}
.navbar-nav-scroll{max-height:var(--bs-scroll-height,75vh);overflow-y:auto}
@media (min-width:576px){.navbar-expand-sm{flex-wrap:nowrap;justify-content:flex-start}
.navbar-expand-sm .navbar-nav{flex-direction:row}.navbar-expand-sm .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-sm .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand-sm .navbar-nav-scroll{overflow:visible}
.navbar-expand-sm .navbar-collapse{display:flex!important;flex-basis:auto}.navbar-expand-sm .navbar-toggler{display:none}}
@media (min-width:768px){.navbar-expand-md{flex-wrap:nowrap;justify-content:flex-start}.navbar-expand-md .navbar-nav{flex-direction:row}
.navbar-expand-md .navbar-nav .dropdown-menu{position:absolute}.navbar-expand-md .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}
.navbar-expand-md .navbar-nav-scroll{overflow:visible}.navbar-expand-md .navbar-collapse{display:flex!important;flex-basis:auto}.navbar-expand-md .navbar-toggler{display:none}}
@media (min-width:992px){.navbar-expand-lg{flex-wrap:nowrap;justify-content:flex-start}.navbar-expand-lg .navbar-nav{flex-direction:row}.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}
.navbar-expand-lg .navbar-nav-scroll{overflow:visible}.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto}.navbar-expand-lg .navbar-toggler{display:none}}
@media (min-width:1200px){.navbar-expand-xl{flex-wrap:nowrap;justify-content:flex-start}.navbar-expand-xl .navbar-nav{flex-direction:row}.navbar-expand-xl .navbar-nav .dropdown-menu{position:absolute}.navbar-expand-xl .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand-xl .navbar-nav-scroll{overflow:visible}.navbar-expand-xl .navbar-collapse{display:flex!important;flex-basis:auto}.navbar-expand-xl .navbar-toggler{display:none}}@media (min-width:1400px){.navbar-expand-xxl{flex-wrap:nowrap;justify-content:flex-start}.navbar-expand-xxl .navbar-nav{flex-direction:row}.navbar-expand-xxl .navbar-nav .dropdown-menu{position:absolute}.navbar-expand-xxl .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand-xxl .navbar-nav-scroll{overflow:visible}.navbar-expand-xxl .navbar-collapse{display:flex!important;flex-basis:auto}.navbar-expand-xxl .navbar-toggler{display:none}}.navbar-expand{flex-wrap:nowrap;justify-content:flex-start}.navbar-expand .navbar-nav{flex-direction:row}.navbar-expand .navbar-nav .dropdown-menu{position:absolute}.navbar-expand .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand .navbar-nav-scroll{overflow:visible}.navbar-expand .navbar-collapse{display:flex!important;flex-basis:auto}.navbar-expand .navbar-toggler{display:none}.navbar-light .navbar-brand{color:rgba(0,0,0,.9)}.navbar-light .navbar-brand:focus,.navbar-light .navbar-brand:hover{color:rgba(0,0,0,.9)}.navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,.55)}.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover{color:rgba(0,0,0,.7)}.navbar-light .navbar-nav .nav-link.disabled{color:rgba(0,0,0,.3)}.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .show>.nav-link{color:rgba(0,0,0,.9)}.navbar-light .navbar-toggler{color:rgba(0,0,0,.55);border-color:rgba(0,0,0,.1)}.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}.navbar-light .navbar-text{color:rgba(0,0,0,.55)}.navbar-light .navbar-text a,.navbar-light .navbar-text a:focus,.navbar-light .navbar-text a:hover{color:rgba(0,0,0,.9)}.navbar-dark .navbar-brand{color:#fff}.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{color:#fff}.navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,.55)}.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover{color:rgba(255,255,255,.75)}.navbar-dark .navbar-nav .nav-link.disabled{color:rgba(255,255,255,.25)}.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .show>.nav-link{color:#fff}.navbar-dark .navbar-toggler{color:rgba(255,255,255,.55);border-color:rgba(255,255,255,.1)}.navbar-dark .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}.navbar-dark .navbar-text{color:rgba(255,255,255,.55)}.navbar-dark .navbar-text a,.navbar-dark .navbar-text a:focus,.navbar-dark .navbar-text a:hover{color:#fff}

.collapse:not(.show){display:none}.collapsing{height:0;overflow:hidden;transition:height .35s ease}@media (prefers-reduced-motion:reduce){.collapsing{transition:none}}

.accordion-button{position:relative;display:flex;align-items:center;width:100%;padding:1rem 1.25rem;font-size:1rem;color:#212529;text-align:left;background-color:#fff;border:0;border-radius:0;overflow-anchor:none;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease}@media (prefers-reduced-motion:reduce){.accordion-button{transition:none}}.accordion-button:not(.collapsed){color:#0c63e4;background-color:#e7f1ff;box-shadow:inset 0 -1px 0 rgba(0,0,0,.125)}.accordion-button:not(.collapsed)::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");transform:rotate(-180deg)}.accordion-button::after{flex-shrink:0;width:1.25rem;height:1.25rem;margin-left:auto;content:"";background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");background-repeat:no-repeat;background-size:1.25rem;transition:transform .2s ease-in-out}@media (prefers-reduced-motion:reduce){.accordion-button::after{transition:none}}.accordion-button:hover{z-index:2}.accordion-button:focus{z-index:3;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}.accordion-header{margin-bottom:0}.accordion-item{background-color:#fff;border:1px solid rgba(0,0,0,.125)}.accordion-item:first-of-type{border-top-left-radius:.25rem;border-top-right-radius:.25rem}.accordion-item:first-of-type .accordion-button{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px)}.accordion-item:not(:first-of-type){border-top:0}.accordion-item:last-of-type{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.accordion-item:last-of-type .accordion-button.collapsed{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px)}.accordion-item:last-of-type .accordion-collapse{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.accordion-body{padding:1rem 1.25rem}.accordion-flush .accordion-collapse{border-width:0}.accordion-flush .accordion-item{border-right:0;border-left:0;border-radius:0}.accordion-flush .accordion-item:first-child{border-top:0}.accordion-flush .accordion-item:last-child{border-bottom:0}.accordion-flush .accordion-item .accordion-button{border-radius:0}

.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto}@media (min-width:576px){.container,.container-sm{max-width:540px}}@media (min-width:768px){.container,.container-md,.container-sm{max-width:720px}}@media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:960px}}@media (min-width:1200px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1140px}}@media (min-width:1400px){.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:1320px}}